.adparent {
  width: 90%;
  height: auto;
  display: flex;
  margin-top: 30px;
  background: #f1f0e4;
}

/* Left */
.adleft {
  width: 50%;
  height: 100%;
}

.adimage {
  width: 100%;
  height: 100%;
  padding: 0;
  object-fit:cover;
}

/* Right */
.adright {
  width: 50%;
  height: 100%;
  display: flex;
}

.adcontent {
  padding: 100px;
}

.adheading {
  font-size: 2rem;
  color: #32472f;
  font-weight: 500;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.addesc {
  font-size: 1.4rem;
  color: #444a2f;
  line-height: 1.7;
  margin-bottom: 1.5rem;
}

/* Button */
.adbtn {
  padding: 10px 20px;
  background: #334b43;
  color: #fff;
  border-radius: 25px;
  border: 1px solid #334b43;
  font-size: 1.3rem;
}

/* ---------- Responsive ---------- */
/* @media (max-width: 768px ) */
@media (min-width: 200px) and (max-width: 960px)
{
  .adparent {
    flex-direction: column;
    height: auto;
  }

  .adleft,
  .adright {
    width: 100%;
  }

  .adimage {
    height: 250px;
  }

  .adcontent {
    padding: 30px;
  }

  .adheading {
    font-size: 1.6rem;
  }

  .addesc {
    font-size: 1.1rem;
  }

  .adbtn {
    font-size: 1.1rem;
  }
}
