.card {
  width: 100%;
  max-width: 320px;
  border-radius: 16px;
  overflow: visible;
  background: #fff;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  margin: 10px 10px;
}

.card:hover {
  transform: scale(0.95);
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 16px;
}

.imageContainer::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
 background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  pointer-events: none;
}

.imageStyle {
  flex:1;
  object-fit:fill;
  width: 100%;

  height: 100%;
}

.discountBadge {
  position: absolute;
  bottom: 1px;
  left: 10px;
  color: #fff;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 0.5px;
  z-index: 2;
}

.content {
  margin-left: 12px;
}

.name {
  font-size: 18px;
  font-weight: 600;
  color: #1a1a1a;

  padding-top: 5;
  height: '10%';
  width: '40';
}

.ratingContainer {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 16px;
  font-weight: 400;
}

.rating {
  font-weight: 500;
  color: #1a1a1a;
}

.separator {
  color: #7e808c;
  font-weight: 600;
}

.deliveryTime {
  color: #1a1a1a;
  font-weight: 600;
}

.cuisine {
  color: #7e808c;
  font-size: 16px;
  font-weight: 400;
}

.location {
  color: #7e808c;
  font-size: 16px;
  margin: 0;
  font-weight: 400;
}