.searchContainer {
    width: 60%;

    padding:  10px;

}

.searchWrapper {
    display: flex;
    align-items: center;
    background: #ffffff;
    border: 1px solid #C5C5C5;
    border-radius: 10px;
    padding: 11px 12px;
    gap: 10px;
    height: 40px;
}

.searchInput {
    flex: 1;
    border: none;
    outline: none;
    font-size: 12px;
    color: #000;
    background: transparent;
}

.searchInput::placeholder {
    color: #9c9c9c;
    font-size: 12px;
}

.icon {
    flex-shrink: 0;
}

.separator {
    width: 1px;
    height: 18px;
    background-color: #c5c5c5;
    margin: 0 8px;
}
